{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
  {% if isAlert == 1 %}
  <script type="text/jscript">
    alert("비밀번호와 아이디가 틀립니다.")
  </script>
  {% elif isAlert == 2 %}
  <script type="text/jscript">
    alert("DataBase Error")
  </script>
  {% else %}
  {% endif %}

<div class="card">

  <h5 class="card-header info-color white-text text-center px-5 my-5 py-5">
    <strong>Sign in</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">
    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="/login" method="POST">
      <!-- ID-->
      <div class="md-form">
        <input type="text" name='username' id="materialLoginFormEmail" class="form-control" placeholder="Id">
        <!--<label for="materialLoginFormEmail">E-mail</label>-->
      </div>
    <!-- Password -->
      <div class="md-form">
        <input type="password" name='password' id="materialLoginFormPassword" class="form-control" placeholder="Password">
        <!--<label for="materialLoginFormPassword">Password</label>-->
      </div>
      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
    </form>
    <!-- Form -->

  </div>

</div>
{% endif %}
{% endblock %}
